[submodule "bimg"]
	path = bimg
	url = https://github.com/VertexStudio/bimg.git
[submodule "bx"]
	path = bx
	url = https://github.com/VertexStudio/bx.git
[submodule "bgfx"]
	path = bgfx
	url = https://github.com/VertexStudio/bgfx.git
